{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <h2>Order History</h2>
            <table class="table">
                <tr>
                    <th>Order Id</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Status</th></tr>
                    {% for order in orders %}
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.date_ordered}}</td>
                        <td>Rs {{order.total_price}}</td>
                        
                        <td style="color: {% if order.complete %} green {% else %}red{% endif %} "> {{ order.complete|yesno:"Complete,Pending" }}
                        </td>
                        <!-- <td>{{order.complete}}</td> -->
                    </tr>
                    {% endfor %}
                </tr>
            </table>
            <a class="btn btn-outline-dark" href="
            {% url 'store' %}">Continue Shopping</a>
        </div>
    </div>
</div>
{% endblock content %}